.main-signup-page {
  display: flex;
  align-items: center;
}

.main-signup-form {
  display: flex;
  align-items: center;
}

.img {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup {
  font-size: 3.7rem;
}
.signup-form {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 17px;
  margin: 13px 0;
}

.input-field {
  padding: 0.8rem;
  width: 100vw;
  max-width: 520px;
  border-radius: 4px;
  border: 1px solid rgb(138, 137, 137);
  background-color: rgba(250, 235, 216, 255);
}

.error-msg {
  color: red;
}

.btns {
  margin-top: 27px;
}

.submitBtn,
.resetBtn {
  padding: 13px;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}

.submitBtn {
  margin-right: 15px;
  background-color: rgba(0, 127, 250, 255);
}

.resetBtn {
  background-color: rgba(219, 52, 71, 255);
}

.login-text {
  margin-top: 10px;
}
