.main-login-page {
  display: flex;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

.main-login-form {
  display: flex;
  align-items: center;
  width: 45%;
}
.main-form {
  width: 80%;
}

.image {
  width: 55%;
}

.loginImage {
  width: 80%;
}

.login {
  font-size: 3.7rem;
}

.login-form {
  width: 100%;
  padding: 0 50px;
}

.password-field {
  position: relative;
}

.password-field img {
  position: absolute;
  cursor: pointer;
  top: 30%;
  right: 2%;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 17px;
  margin: 13px 0;
  width: 100%;
}

.input-field {
  padding: 0.8rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(138, 137, 137);
  background-color: rgba(250, 235, 216, 255);
}

.signup-text {
  margin-top: 10px;
  font-size: 1.2rem;
}

.signup-text span {
  color: rgb(93, 93, 250);
  text-decoration: underline;
  cursor: pointer;
}

.btns {
  margin-top: 27px;
}

.submitBtn {
  padding: 13px;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  background-color: rgba(0, 127, 250, 255);
}

.error-msg {
  color: red;
}

@media (max-width: 576px) {
  .image {
    display: none;
  }
  .main-login-form {
    width: 100%;
  }
  .main-form {
    width: 100%;
  }
  .login {
    text-align: center;
  }
  .btns {
    text-align: center;
  }
  .submitBtn {
    padding: 7px;
  }
  .signup-text {
    text-align: center;
  }
}
